:root {
    --main-background: hsl(273, 75%, 66%);
    --main-background2: hsl(240, 73%, 65%);
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.8rem;
}

.card {
    background-color: white;
    border-radius: 15px;
    width: 70%;
    z-index: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
}

.graphic {
    width: 100%;
    transform: translateX(-20%);
    z-index: -2;
}

.column1 {
    padding: 20px;
}

.column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    position: absolute;
    height: 17%;
    width: auto;
    transform: translateX(30%);
    transform: translateY(30%);
    z-index: 2;
}

.shadow {
    z-index: 1;
    position: absolute;
    width: 30%;
    transform: translateX(30%);
    transform: translateY(10%);
}

.accordion {
    max-width: 450px;
    box-shadow: 0 0 10px hsl(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.accordion__label,
.accordion__content {
    padding: 14px 20px;
}

.accordion__label {
    display: block;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    color: hsl(237, 12%, 33%);
    font-size: 1.2em;
}

.accordion__label:hover {
    background: rgb(0, 0, 0, 0.1);
}

.accordion__label:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 12px;
    height: 6px;
    background-image: url(/images/icon-arrow-down.svg);
    background-size: contain;
    transition: transform 0.4s;
    font-weight: bold;
    color: black;
}

.accordion__content {
    background: #ffffff;
    line-height: 1.6;
    font-size: 0.8em;
    display: none;
    color: hsl(240, 6%, 50%);
    font-size: 1.1em;
}

.accordion__input {
    display: none;
}

.accordion__input:checked~.accordion__content {
    display: block;
}

.accordion__input:checked~.accordion__label:after {
    transform: translateY(-50%) rotate(0.5turn);
}

.question {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}